<ion-content fullscreen class="dashboard-content">
  <div class="dashboard-wrapper">
    <!-- Top Section -->
    <div class="dashboard-header">
      <div class="header-bar">
        <div>
          <div style="display: flex; align-items: center; gap: 16px">
            <ion-button
              fill="outline"
              (click)="logOut()"
              shape="round"
              class="light-button"
            >
              <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <div style="display: flex; flex-direction: column; gap: 4px">
              <span style="font-size: 22px">
                Hello,
                <span style="font-weight: bold">{{ username }} </span></span
              ><span>Slect a table</span>
            </div>
          </div>
        </div>
        <ion-button
          fill="outline"
          (click)="cycleColumns()"
          shape="round"
          class="light-button"
        >
          <ion-icon [name]="currentIcon" slot="icon-only"></ion-icon>
        </ion-button>
      </div>

      <ion-segment mode="ios" [(ngModel)]="filter">
        <ion-segment-button value="all">All</ion-segment-button>
        <ion-segment-button value="open">Open</ion-segment-button>
        <ion-segment-button value="closed">Closed</ion-segment-button>
        <ion-segment-button value="reserved">Reserved</ion-segment-button>
      </ion-segment>

      <ion-searchbar
        [(ngModel)]="searchTerm"
        debounce="300"
        placeholder="Search Tables"
        class="custom-searchbar"
        mode="ios"
      ></ion-searchbar>
    </div>

    <!-- Scrollable Grid Area -->
    <div class="tables-container">
      <div
        class="table-grid"
        [ngStyle]="{ 'grid-template-columns': 'repeat(' + columns + ', 1fr)' }"
      >
        <ng-container *ngFor="let table of filteredTables">
          <div
            class="table-card"
            [ngClass]="'view-' + columns"
            (click)="goToTableDetails(table.id)"
          >
            <!-- View 1 -->
            <ng-container *ngIf="columns === 1">
              <div class="status-row">
                <div
                  *ngFor="let status of statuses"
                  class="status-pill"
                  [ngClass]="getStatusClasses(status, table.status)"
                >
                  {{ status }}
                </div>
              </div>
              <div class="info-row">
                <div class="user">
                  <ion-icon name="person-circle-outline"></ion-icon
                  >{{ table.user }}
                </div>

                <div class="table-meta">
                  <span class="table-name">{{ table.name }}</span>
                  <div class="price">
                    <span class="price-text">{{ table.price }}</span>
                    <span class="currency">{{ currency }}</span>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- View 2 -->
            <ng-container *ngIf="columns === 2">
              <div style="display: flex; align-items: center; gap: 8px">
                <div class="status-dot" [ngClass]="table.status"></div>
                {{ table.status }}
              </div>

              <div class="table-name">{{ table.name }}</div>

              <div class="user">
                <ion-icon name="person-circle-outline"></ion-icon
                >{{ table.user }}
              </div>
              <div class="price">
                <span class="price-text">{{ table.price }}</span>
                <span class="currency">{{ currency }}</span>
              </div>
            </ng-container>

            <!-- View 3 -->
            <ng-container *ngIf="columns === 3">
              <div class="status-bar" [ngClass]="table.status"></div>
              <div class="table-name">{{ table.name }}</div>

              <div class="user">
                <ion-icon name="person-circle-outline"></ion-icon
                >{{ table.user }}
              </div>
              <div class="price">
                <span class="price-text">{{ table.price }}</span>
                <span class="currency">{{ currency }}</span>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
