.login-content {
  --background: none; // Reset Ionic default background
  background: #e1eff4;
}

ion-input {
  --color: black;
  --border-color: green;
  --highlight-color-focused: #0369a1;
  --highlight-color-invalid: #b3261e;
  --highlight-color-invalid: #b3261e;
}

h1,
h2 {
  color: black;
}
