<ion-content class="table-details-content" fullscreen>
  <!-- Back Button -->
  <ion-button
    fill="outline"
    (click)="goBack()"
    shape="round"
    class="light-button back-btn"
  >
    <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
  </ion-button>

  <!-- Header Card -->
  <div class="header-container">
    <div class="header-card">
      <div class="table-info">
        <div class="status">
          <span class="status-dot" [ngClass]="order.status"></span>
          {{ order.status }}
        </div>
        <div class="user">
          <ion-icon name="person-circle-outline"></ion-icon>{{ order.user }}
        </div>
      </div>
      <div class="table-name">{{ order.tableName }}</div>
    </div>
  </div>

  <!-- Sheet Container -->
  <div class="sheet-container">
    <!-- Order Meta -->
    <div class="order-meta-top">
      <div class="created-at">
        Created at <span>{{ order.date }}</span>
      </div>
      <div class="total">
        Total Price <span>{{ order.total | currency }}</span>
      </div>
    </div>

    <div class="order-id">
      Order ID <span>{{ order.id }}</span>
    </div>

    <!-- Products List -->
    <div class="products-section">
      <span style="color: black; font-size: 24px">Products</span>
      <ion-list mode="ios" lines="none">
        <ion-item *ngFor="let product of order.products">
          <ion-label>
            <div class="product-name">{{ product.name }}</div>
            <div class="product-meta">
              Quantity: {{ product.quantity }} &nbsp;|&nbsp; Price:
              {{ product.price | currency }}
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ion-button
    style="
      position: absolute;
      bottom: 16px;
      width: calc(100% - 32px);
      left: 16px;
      color: #b3261e;
      z-index: 99;
      margin: 0;
    "
    expand="block"
    (click)="deleteOrder()"
    >Delete Order</ion-button
  >
</ion-content>
