.table-details-content {
  --padding-top: 0;
  position: relative;

  ion-button.back-btn {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1000;
  }

  .header-container {
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(to top, #0c4a6e, #06b6d4);
  }

  .header-card {
    color: black;
    position: relative;
    z-index: 2;
    margin: 40px auto 0;
    width: 50%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .table-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .status {
        display: flex;
        align-items: center;
        font-weight: bold;
        text-transform: capitalize;
        gap: 8px;

        .status-dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #666;

          &.open {
            background-color: #10dc60;
          }
          &.closed {
            background-color: #eb445a;
          }
          &.reserved {
            background-color: #ffc409;
          }
        }
      }
    }

    .table-name {
      font-size: 22px;
      font-weight: bold;
    }
  }

  .sheet-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px; // distance from top of content to header bottom
    background: #e1eff4;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 64px 16px 80px;
    overflow-y: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .order-meta-top {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      color: black;
      .created-at {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      .total {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    .order-id {
      font-size: 24px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: black;
    }

    .products-section {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .product-name {
        font-weight: 500;
      }

      .product-meta {
        font-size: 13px;
        color: #666;
      }
    }
  }
  ion-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: transparent;
    ion-item {
      color: black;
      --background: white;
      border-radius: 5px;
    }
  }
}
