<ion-content class="order-details-content">
  <ion-button
    mode="md"
    fill="outline"
    (click)="goBack()"
    shape="round"
    class="light-button back-btn"
  >
    <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
  </ion-button>

  <!-- Header Card -->
  <div class="header-container">
    <div class="header-card">
      <div class="table-info">
        <div class="status">
          <span
            class="status-dot"
            [ngClass]="getStatusClassName(selectedTable.status)"
          ></span>
          {{ selectedTable.status }}
        </div>
        <div *ngIf="selectedTable.user" class="user">
          <ion-icon name="person-circle-outline"></ion-icon
          >{{ selectedTable.user }}
        </div>
      </div>
      <div class="table-name">{{ selectedTable.label }}</div>
    </div>
  </div>

  <!-- Sheet Container -->
  <div class="sheet-container">
    <!-- Order Meta -->
    <div *ngIf="selectedOrder" class="order-meta-top">
      <div class="created-at">
        <span class="meta-label">Created at</span>
        <span class="meta-value">{{
          selectedOrder.createdAt | date: "yyyy-MM-dd HH:mm"
        }}</span>
      </div>
      <div class="total">
        <span class="meta-label">Total Price</span>
        <span class="meta-value meta-price">{{
          selectedOrder.price | currency
        }}</span>
      </div>
    </div>

    <div *ngIf="selectedOrder" class="order-meta-bottom">
      <div class="order-id">
        <span class="meta-label">Order ID</span>
        <span class="meta-value">{{ selectedOrder.id }}</span>
      </div>
      <div
        style="display: flex; align-items: end"
        [ngClass]="selectedOrder.paid ? 'paid' : 'not-paid'"
      >
        {{ selectedOrder.paid ? "PAID" : "NOT PAID" }}
      </div>
    </div>

    <!-- Products List -->
    <div *ngIf="order" class="products-section">
      <span style="color: black; font-size: 24px">Products</span>
      <ion-list mode="ios" lines="none">
        <ion-item *ngFor="let product of order.orderProducts">
          <ion-label>
            <div class="product-name">{{ product.label }}</div>

            <!-- Attributes -->
            <div
              class="product-attributes"
              *ngIf="product.orderProductAttributes?.length"
            >
              <small>
                <div
                  *ngFor="let attr of product.orderProductAttributes"
                  class="attr-row"
                >
                  {{ attr.orderAttribute.label }}:
                  {{ attr.price ? (attr.price | currency) : "Free" }}
                </div>
              </small>
            </div>

            <!-- Total price -->
            <div class="product-meta">
              Quantity: {{ product.quantity }} &nbsp;|&nbsp; Total:
              {{ getOrderProductTotal(product) | currency }}
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ion-button
    mode="md"
    expand="block"
    class="danger-button"
    (click)="deleteOrder()"
    >Cancel Order</ion-button
  >
</ion-content>
