<ion-content class="table-details-content" fullscreen>
  <!-- Back Button -->

  <ion-button
    fill="outline"
    (click)="goBack()"
    shape="round"
    class="light-button back-btn"
  >
    <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
  </ion-button>

  <!-- Fixed Header -->
  <div class="header-container">
    <div class="header-card">
      <div class="table-info">
        <div class="status">
          <span
            class="status-dot"
            [ngClass]="getStatusClassName(selectedTable.status)"
          ></span>
          {{ selectedTable.status }}
        </div>
        <div *ngIf="selectedTable.user" class="user">
          <ion-icon name="person-circle-outline"></ion-icon
          >{{ selectedTable.user }}
        </div>
      </div>
      <div class="table-name">{{ selectedTable.label }}</div>
    </div>
  </div>

  <!-- Bottom Sheet Style Container -->
  <div class="sheet-container">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        color: black;
      "
    >
      Orders
      <div><ion-button>Transfer</ion-button><ion-button>Pay</ion-button></div>
    </div>
    <ion-list mode="ios">
      <ion-item
        *ngFor="let order of tableOrders"
        detail="true"
        (click)="goToOrderDetails(order)"
      >
        <ion-label class="order-label">
          <div class="order-time">{{ order.createdAt | date: "HH:mm" }}</div>
          <div class="order-meta">
            <span>{{ order.createdAt | date: "yyyy-MM-dd" }}</span>
            <span style="display: flex; gap: 8px">
              {{ order.price | currency }}
              <div [ngClass]="order.paid ? 'paid' : 'not-paid'">
                {{ order.paid ? "PAID" : "NOT PAID" }}
              </div>
            </span>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAddOrderModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
